body {
  background: #FFFFFF;
}

h1 {
  @include for-phone-only {
    font-size: 32px;
  }
  @include for-xsmall-phone-only {
    font-size: 28px;
  }
}

h2 {
  @include for-xsmall-phone-only {
    font-size: 22px;
  }
}

h4 {
  @include for-xsmall-phone-only {
    font-size: 16px;
  }
}

p {
  font-weight: 200;
  @include for-phone-only {
    font-size: 14px;
  }
}

small {
  font-weight: 200;
  font-size: 6px;
}

//////////////////////////////////// MODE ////////////////////////////////////

.dark-mode {
  background: #1B1B1B;
  h1, h2, h4 {
    color: #BBBBBB;
  }
  p, small {
    color: #E4E4E4;
  }
  div, img {
    border-color: #444444 !important;
  }
  .main-title h1 {
    text-shadow: -4px 4px #686868;
  }
  .linear-bg {
    background: linear-gradient(to right, #221250, #542F6A) !important;
  }
  .carousel-indicators {
    .active {
      background: -webkit-linear-gradient(45deg, #311798, #A73CD6) !important;
    }
    li {
      background: #444444;
    }
  }
  .social-links, .nav-pills {
    a {
      color: #BBBBBB;
      &:hover {
        text-decoration: none;
        background: -webkit-linear-gradient(45deg, #311798, #A73CD6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .active {
      text-decoration: none;
      background: -webkit-linear-gradient(45deg, #311798, #A73CD6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .testimonial-image {
    background-image: asset_url('dark-lw-img.png');
    @include for-small-devices-down {
      background-image: asset_url('le-wagon-logo.png');
    }
  }
  .modal-content {
    background: #1B1B1B;
  }
  a, .modal-close {
    color: #BBBBBB;
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      background: -webkit-linear-gradient(45deg, #311798, #A73CD6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .primary-button {
    border: 1px solid #444444;
    padding: 6px 10px;
    display: inline-block;
  }
}

.light-mode {
  background: #FFFFFF;
  div, img {
    border-color: #000000 !important;
  }
  .linear-bg {
    background: linear-gradient(to right, #F3FFF7, #F3F4FF) !important;
  }
  .carousel-indicators {
    .active {
      background: -webkit-linear-gradient(45deg, #7DFFA9, #7E8AFF) !important;
    }
    li {
      background: #000000;
    }
  }
  .social-links, .nav-pills {
    a {
      color: #000000;
      &:hover {
        text-decoration: none;
        background: -webkit-linear-gradient(45deg, #7DFFA9, #7E8AFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .active {
      text-decoration: none;
      background: -webkit-linear-gradient(45deg, #7DFFA9, #7E8AFF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .testimonial-image {
    background-image: asset_url('lw-img.png');
    @include for-small-devices-down {
      background-image: asset_url('le-wagon-logo.png');
    }
  }
  .modal-content {
    background: #FFFFFF;
  }
  a, .modal-close {
    color: #000000;
    font-family: 'DM Serif Display', serif;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      background: -webkit-linear-gradient(45deg, #7DFFA9, #7E8AFF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .primary-button {
    border: 1px solid #000000;
    padding: 6px 10px;
    display: inline-block;
  }
}

//////////////////////////////////// NAVBAR ////////////////////////////////////

.navbar {
  height: 80px;
  padding: 0;
  // border-bottom: 1px solid #000000;
  img {
    width: 40px;
  }
}

.footer {
  height: 200px;
  // border-bottom: 1px solid #000000;
}

.social-links {
  line-height: 16px;
  a {
    font-size: 40px;
    color: #000000;
    transition: all 0.3s ease;
  }
}

//////////////////////////////// FIRST SECTION /////////////////////////////////

.max-width {
  max-width: 1260px;
  margin: 0 auto;
}

.container {
  border-left: 1px solid;
  border-right: 1px solid;
  padding: 0;
}

.top-line {
  border-top: 1px solid;
}

.bottom-line {
  border-bottom: 1px solid;
}

.min-height {
  min-height: 100vh;
}
.main-title h1 {
  text-shadow: -4px 4px #a9c5ba;
}

.banner {
  min-height: 80vh;
  border-top: 1px solid;
  border-bottom: 1px solid;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 160px;
  @include for-small-devices-down {
    min-height: 60vh;
    padding-top: 100px;
  }
  p {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 200;
    @include for-small-devices-down {
      font-size: 25px;
      letter-spacing: 3px;
    }
    @include for-phone-only {
      font-size: 20px;
      letter-spacing: 2px;
    }
  }
  h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 200px;
    line-height: 118px;
    padding: 0 0 16px 8px;
    @include for-medium-devices-down {
      font-size: 150px;
      line-height: 88px;
    }
    @include for-small-devices-down {
      font-size: 112px;
      line-height: 65px;
      padding: 0 0 8px 8px;
    }
    @include for-phone-only {
      font-size: 21vw;
      line-height: 60%;
    }
  }
}

/////////////////////////////////// LE WAGON ///////////////////////////////////

.le-wagon {
  min-height: 40vh;
  border-bottom: 1px solid #000000;
  padding: 24px 220px 160px 24px;
  position: relative;
  @include for-medium-devices-down {
    padding: 24px 160px 160px 24px;
  }
  @include for-small-devices-down {
    padding: 24px 120px 120px 24px;
  }
  @include for-phone-only {
    padding: 24px 80px 80px 24px;
  }
}

.horiz-line {
  border-bottom: 1px solid;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 80px;
  @include for-phone-only {
    bottom: 60px;
  }
}

.vert-line {
  border-right: 1px solid;
  position: absolute;
  right: 80px;
  bottom: 0;
  top: 0;
  @include for-phone-only {
    right: 60px;
  }
}

.lw-logo {
  position: absolute;
  width: 80px;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  border: 1px solid;
  @include for-small-devices-down {
    width: 80px;
    bottom: 40px;
    right: 40px;
  }
  @include for-phone-only {
    width: 60px;
    bottom: 30px;
    right: 30px;
  }
}

///////////////////////////////////// BIO //////////////////////////////////////

.bio {
  border-bottom: 1px solid #000000;
  padding: 24px;
}

/////////////////////////////////// PROJECTS ///////////////////////////////////

.projects {
  border-bottom: 1px solid #000000;
  background: linear-gradient(to right, #F3FFF7, #F3F4FF);
}

.projects-row, .testimonials-row {
  padding: 60px 0;
  position: relative;
  justify-content: space-evenly;
}

.projects-row {
  @include for-small-devices-down {
    padding: 0;
  }
}

.project-card {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.project-image {
  border: 1px solid #000000;
  position: relative;
  z-index: 1;
  width: 100%;
}

.mid-line {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  border-bottom: 1px solid #000000;
}

.modal-content {
  border-radius: 0;
}

.modal-dialog {
  max-width: 800px;
}

.modal-footer {
  border-top: none;
}

.modal-backdrop.show {
  opacity: 0.7;
}

///////////////////////////////// TESTIMONIALS /////////////////////////////////

.testimonials {
  border-bottom: 1px solid #000000;
  padding: 24px 0;
  min-height: 800px;
}

.nav-pills {
  a {
    background-color: transparent;
    font-family: "DM Serif Display", "serif";
    font-size: 26px;
    @include for-xsmall-phone-only {
      font-size: 20px;
    }
  }
}

.carousel {
  .carousel-indicators {
    margin: 0;
    width: 80%;
    margin: 0 auto;
    bottom: 60px;
    li {
      border: none;
      margin: 0;
      flex: 1;
      height: 1px;
      opacity: 1;

    }
    @include for-medium-devices-down {
      width: 94%;
    }
    @include for-phone-only {
      width: 90%;
    }
  }
}

.carousel-control-prev, .carousel-control-next {
  width: 10%;
  opacity: 1;
  img {
    transition: all 0.2s ease;
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}

.main-controls {
  @include for-medium-devices-down {
    height: 60px;
    top: unset;
    padding-top: 24px;
  }
}

.carousel-control-prev {
  @include for-phone-only {
    left: 12px;
  }
}

.carousel-control-next {
  @include for-phone-only {
    right: 12px;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: unset;
  width: 20px;
  background-image: none;
  img {
    width: 100%;
  }
}

.carousel-control-prev-icon {
  transform: rotate(180deg);
}


.testimonial-card {
  min-height: 400px;
  width: 80%;
  background: #FFFFFF;
  display: flex;
  position: relative;
  z-index: 1;
  border: 1px solid #000000;
  border-bottom: 0;
  @include for-medium-devices-down {
    width: 94%;
    min-height: 476px;
  }
  @include for-small-devices-down {
    flex-direction: column;
  }
  @include for-phone-only {
    width: 90%;
    min-height: 620px;
  }
  @include for-xsmall-phone-only {
    min-height: 540px;
  }
}

.testimonial-image {
  height: 100%;
  width: 260px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  border-right: 1px solid #000000;
  @include for-small-devices-down {
    width: 80px;
    height: 80px;
    margin: 16px 16px 0;
    border-radius: 50%;
    border: none;
  }
}

.testimonial-message {
  position: relative;
  padding: 48px 0;
}

.quote {
  position: absolute;
  width: 40px;
}

.left-quote {
  top: 0;
  left: 0;
}

.right-quote {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}
