<div class="container h-100" data-controller="portfolio">
  <div class="banner">
    <p class="text-center">Ife Odugbesan</p>
    <div class="">
      <h1>Full<br>Stack<br>Developer</h1>
    </div>
  </div>
  <div class="social">
    <h1>Where you can find me</h1>
  </div>
</div>
