<div class="container h-100">
  <div class="banner">
    <p class="text-center">Ife Odugbesan</p>
    <div class="">
      <h1>Full<br>Stack<br>Developer</h1>
    </div>
  </div>
  <div class="bio">
    <h1>A bit about me</h1>
  </div>
  <div class="le-wagon">
    <div class="horiz-line"></div>
    <div class="vert-line"></div>
    <%= image_tag 'le-wagon-logo.png', class: 'lw-logo' %>
    <h1>Le Wagon</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed voluptatem nulla, fuga inventore dolore debitis ex consequatur aliquam quas recusandae cumque quidem nemo, eos hic delectus dolorum eveniet labore?</p>
  </div>
  <div class="projects py-4">
    <h1 class="pl-4">Projects</h1>
    <div class="row m-0 projects-row">
      <div class="mid-line"></div>
      <div class="py-5 position-relative h-50">
        <div class="project-card">
          <%= image_tag 'foenix-card.png', class: 'project-image' %>
        </div>
      </div>
      <div class="py-5 position-relative h-50">
        <div class="project-card">
          <%= image_tag 'foenix-card.png', class: 'project-image' %>
        </div>
      </div>
      <div class="py-5 position-relative h-50">
        <div class="project-card">
          <%= image_tag 'foenix-card.png', class: 'project-image' %>
        </div>
      </div>
    </div>
  </div>
</div>
